main{
    min-height: 100vh;
}
.row{
    margin-left:0;
    margin-right: 0;;
}
.center{
    display:flex;
    align-items: center;
}

.card-img-top{
    min-height: 200px;
    /* background-image: url('../assets/img/restro.jpg'); */
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: round;
}

